:root {
    --palette__bg: darkslategray;
    --palette__border-white: rgb(218, 204, 204);
    --palette__common-white: rgb(240, 233, 233);
    --palette__primary--dark: rgb(37, 50, 126);
    --palette__primary--main: rgb(58, 73, 158);
    --palette__text--contrast: #ffffff;
    --palette__text: #000000;
}

[data-theme="dark"] {
    --palette__bg: rgb(0, 0, 0);
    --palette__border-white: rgb(161, 150, 150);
    --palette__common-white: #000000;
    --palette__primary--dark: rgb(37, 50, 126);
    --palette__primary--main: rgb(58, 73, 158);
    --palette__text--contrast: #000000;
    --palette__text: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw;
}

body, html {
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
}

body, .App, #root {
    height: 100%;
    width: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: 'Yantramanav'
}

button, input, p, label {
    font-size: 1rem;
}

p, label {
    margin: 5px;
}

button {
    background: var(--palette__primary--main);
    border: var(--palette__primary--dark) 5px solid;
    border-radius: 5px;
    color: var(--palette__text--contrast);
}
