.timer {
    background: var(--palette__common-white);
    border: 1px solid var(--palette__primary--dark);
    border-radius: 5px;
    box-shadow:0px 0px 0px 0.1em var(--palette__border-white) inset;
    color: var(--palette__text);
}